colorama==0.3.7
funcsigs==1.0.2
mock==2.0.0
pbr==1.10.0
pkg-resources==0.0.0
pkginfo==1.3.2
pluggy==0.3.1
py==1.4.31
requests==2.20.0
requests-toolbelt==0.6.2
six==1.10.0
tox==2.3.1
twine==1.6.5
virtualenv==15.0.2
zest.releaser==6.6.4
